#spacesToolbar {
 background-color: #080C12 !important;
}
#tabbrowser-tabs {
 background-color: #080C12 !important;
}
#folderPane {
 background-color: #080C12 !important;
}
#messagePane {
 background-color: #080C12 !important;
}
#folderPaneHeaderBar {
 background-color: #080C12 !important;
}
#threadPaneHeaderBar {
 background-color: #080C12 !important;
}
#messageHeader {
 background-color: #080C12 !important;
}
#toolbar-menubar {
 background-color: #080C12 !important;
}
#tabmail-tabs {
 background-color: #080C12 !important;
}
#primaryButtonSidePanel {
 background-color: #080C12 !important;
}
#messengerBody {
 background-color: #080C12 !important;
}
#sideButtonsBottom {
 background-color: #080C12 !important;
}
#calSidebar {
 background-color: #080C12 !important;
}
#calendarTabPanel {
 background-color: #080C12 !important;
}
#calendxarDisplayBox {
 background-color: #080C12 !important;
}
#calendarViewHeader {
 background-color: #080C12 !important;
}

